<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmilsMapper">
    <select id="pageQuery" resultType="com.sky.entity.Emils">
        select * from employee
        <where>
            <if test="mailUser != null and mailUser != ''">
                and mailUser like concat('%',#{mail_user},'%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>