<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HongShen.mapper.UserTemplateMapper">
    <select id="pageQuery" resultType="com.HongShen.entity.UserTemplate">
        select id, filename, alias, filepath,userid, createtime,status from emails.user_template
        <where>
            <if test="id != null and id != ''">
                and id =#{id}
            </if>
            <if test="filename != null and filename != ''">
                and filename like concat('%',#{filename},'%')
            </if>
            <if test="status != null and status != ''">
                and status like concat('%',#{status},'%')
            </if>
            <if test="alias != null and alias != ''">
                and alias like concat('%',#{alias},'%')
            </if>
                and userid = #{userid}
        </where>
        order by createtime desc
    </select>
</mapper>