<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.HongShen.mapper.EmilsMapper">
    <update id="update" parameterType="com.HongShen.entity.Emils">
        update email
        <set>
            <if test="mailUser != null">mail_user = #{mailUser},</if>
            <if test="mailPassword != null">mail_password = #{mailPassword},</if>
            <if test="state != null">state = #{state},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id=#{id}
    </update>
    <select id="pageQuery" resultType="com.HongShen.entity.Emils">
        select id,mail_user,mail_password,state,create_time,update_time from email
        <where>
            <if test="mailUser != null and mailUser != ''">
                and mail_user like concat('%',#{mailUser},'%')
            </if>
            <if test="id != null and id != ''">
                and id =#{id}
            </if>
<!--            <if test="createbeginTime != null and createndTime == null">-->
<!--                and create_time =#{createbeginTime}-->
<!--            </if>-->
<!--            <if test="createbeginTime != null and createndTime != null">-->
<!--                and create_time between #{createbeginTime} and #{createndTime}-->
<!--            </if>-->
<!--                        <if test="createTime != null">-->
<!--                           -->
<!--                        </if>-->
<!--            <if test="updatebeginTime != null and updatendTime == null">-->
<!--                and update_time =#{updatebeginTime}-->
<!--            </if>-->
<!--            <if test="updatebeginTime != null and updatendTime != null">-->
<!--                and update_time between #{updatebeginTime} and #{updatendTime}-->
<!--            </if>-->
<!--            <if test="updateTime != null">-->
<!--                and update_time &lt;= #{endTime}-->
<!--            </if>-->
        </where>
        order by create_time desc
    </select>
</mapper>